<h1 class="display-5">{{title}}</h1>
{{!available to req.body object}}
<div id="editFormOuter">
  <div id="editFormInner">
    <form method="POST">
      {{! Input names have to match the name of the fields in the mongo schema object }}
      {{! Mapping is not automatic, but it's best practices }}
      <fieldset class="form-group">
        <label for="name" class="col-2">Name:</label>
        <input name="name" id="name" class="form-control" required />
      </fieldset>
      <fieldset class="form-group">
        <label for="framework" class="col-2">Framework:</label>
        <input name="framework" id="framework" class="form-control" />
      </fieldset>
      {{! No need to specify Status since it has a default value }}
      {{! Button needs to be inside <form> element to trigger POST }}
      <button class="offset-3 btn btn-primary">Save</button>
    </form>
  </div>
</div>