<h1 class="display-5">{{title}}</h1>
<p>This is supposed to list project stats:</p>
<p>Number of languages, most popular, pie chart form</p>
<p>Most popular hosting site</p>
{{!Display project in graphical form}}